@model IEnumerable<SourceCode.Models.AttendViewModel>

@{
    ViewData["Title"] = "Attendance List";
}

<div class="grid-SEES col-md-9">
    <div>
        <table class="table-SEES">
            <tr>
                <th>Student Name</th>
                <th>Attending Times</th>
            </tr>
            @foreach (var attend in Model)
            {
                <tr>
                    <td>@attend.StudentName</td>
                    <td>@attend.NoOfAttendances</td>
                </tr>
            }
        </table>
    </div>
</div>